#os type & bitversion
#if auto_detect_os is set to false, we must explicitly set os_type & os_bit_version
#sometimes, java programs may fail to detect os bit versions, e.g. running on 32-bit JVM on 64-bit machines
#in this case, we should turn off auto_detect_os
auto_detect_os : true
os_type: windows #windows or linux
os_bit_version: 64 #64 or 32

#beagle executables
beagle_windows_32_executable: beagle/windows_x86/beagle.exe
beagle_windows_64_executable: beagle/windows_x64/beagle.exe
beagle_linux_32_executable: beagle/linux_x86/beagle
beagle_linux_64_executable: beagle/linux_x64/beagle

#algorithms
bdd_method: whole, separate, eqsSeparate
bmc_method: std, inc, incDec, macro, macroInc, macroIncDec
bmc_default_step: 100
bmc_minimum_step: 1
bmc_maximum_step: 10000

#others
temporary_dir: tmp
elts_ext: elt
graph_ext: graph